@media only screen and (max-width: 480px){
	main{
		width: 101%;
	}


  

	.photo{
	width: calc(100% - 40px);
	height: calc((38vw - 40px) / 9 * 16 );
	background-color: red;
	margin: 20px;
	border-radius: 20px;
   }

 h1{
	font-size: 45px;
   }

}